@model AplikacjaTrenowania.Models.Trening

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Trening</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" readonly />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Godzina" class="control-label"></label>
                <input asp-for="Godzina" class="form-control" readonly />
                <span asp-validation-for="Godzina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RodzajTreningu" class="control-label"></label>
                <select id="rodzajTreningu" asp-for="RodzajTreningu" class="form-control">
                    <option value="" disabled selected>Wybierz rodzaj treningu</option>
                    @foreach (var rodzaj in ViewBag.Cwiczenia.Keys)
                    {
                        <option value="@rodzaj">@rodzaj</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="WybierzCwiczenie" class="control-label"></label>
                <select id="wybierzCwiczenie" asp-for="WybierzCwiczenie" class="form-control">
                    <option value="" disabled selected>Wybierz ćwiczenie</option>
                    @foreach (var item in ViewBag.Cwiczenia)
                    {
                        @foreach (var cwiczenie in item.Value)
                        {
                            <option data-cwiczenie="@item.Key" hidden>@cwiczenie</option>
                        }
                    }
                </select>
            </div>
            <div id="form-group-seria">
                
            </div>
            <button type="button" id="addSeria" class="btn btn-primary mt-3">Dodaj serię</button>
            <button type="submit" class="btn btn-success mt-3">Zapisz Trening</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="~/js/form.js"></script>
<script src="~/js/addserie.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
